* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #181818;
}

/* Shared Style */

.bg-secondary {
  background-color: #fff8f3;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
}

/* Header section Style */

header {
  max-width: 100%;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-color: #fff8f3;
  width: fit-content;
}

/* Navigation Section Style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding: 20px 230px 40px 230px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

/* Banner Section Styles */

.banner {
  display: flex;
  align-items: center;
}

.banner-content {
  padding-left: 230px;
}

.banner-greeting {
  color: #474747;
  font-weight: 600;
  font-size: 40px;
}

.banner-title {
  font-weight: bold;
  font-size: 75px;
}

.banner-description {
  color: #757575;
  font-size: 14px;
  margin-bottom: 30px;
}

.btn-contact {
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: #fd6e0a;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  margin-left: 30px;
}

.banner-profile-picture {
  padding-right: 38px;
  width: 580px;
}

/* About Me Section Styles */

.about-container {
  margin: 130px 230px 0px 230px;
  padding: 130px 155px;
}

.about {
  background-color: white;
  text-align: center;
  padding: 5px;
}

.about-title {
  font-weight: bold;
  font-size: 35px;
}

.about-description {
  margin-top: 30px;
  color: #757575;
  font-size: 18px;
}

.items {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.item-title {
  color: #757575;
}

.item-description {
  font-weight: bold;
}

/* Skills Container Styles */

.skills-container {
  margin: 130px 230px 0px 230px;
  text-align: center;
}

.skills-title {
  font-weight: bold;
  font-size: 35px;
}

.skills-description {
  font-size: 18px;
  color: #757575;
  margin: 30px 115px 50px 115px;
}

.skills {
  display: flex;
  gap: 24px;
  text-align: left;
}

.skill {
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  margin: 30px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
}

.skill-description {
  font-size: 16px;
  color: #757575;
}

/* Resume Section Styles */

.resume {
  margin: 130px 230px 130px 230px;
}
.resume-title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 110px;
}

.resume-container {
  display: flex;
  gap: 24px;
}

.education-column-title,
.experience-column-title {
  font-weight: bold;
  font-size: 30px;
}

.education-title,
.experience-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.education-sub-title,
.experience-sub-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
}

.education-description,
.experience-description {
  color: #757575;
  margin-bottom: 30px;
}

.resume-btn {
  text-align: center;
}

/* Footer section styles */

footer {
  background-color: #fff8f3;
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-column {
  width: 50%;
}

.footer-column-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-column-description {
  color: #474747;
  margin-bottom: 30px;
}

.social-icon img {
  margin-right: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  border: none;
  margin-bottom: 24px;
  color: #757575;
  font-size: 16px;
}
