* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Style */

.bg-secondary {
  background-color: #fff8f3;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  padding: 18px 36px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
}

/* Header section Style */

header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding: 0px 230px 130px 230px;
}

/* Navigation Section Style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
